@font-face {
	font-family: "TT Travels";
	src: url("../fonts/TT/TTTravels-DemiBold.woff2") format("woff2"),
		url("../fonts/TT/TTTravels-DemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "TT Travels";
	src: url("../fonts/TT/TTTravels-Bold.woff2") format("woff2"),
		url("../fonts/TT/TTTravels-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "TT Travels";
	src: url("../fonts/TT/TTTravels-Regular.woff2") format("woff2"),
		url("../fonts/TT/TTTravels-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "TT Travels";
	src: url("../fonts/TT/TTTravels-Light.woff2") format("woff2"),
		url("../fonts/TT/TTTravels-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "TT Travels";
	src: url("../fonts/TT/TTTravels-Medium.woff2") format("woff2"),
		url("../fonts/TT/TTTravels-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
